[2017-02-27 20:18] yopir opened #2 "Python Embedding"
Any chance that there is embedded links/iframes for this?

[2017-03-02 21:12] evelynmitchell opened #3 "Where's example 4?"
123
567

[2017-03-02 21:20] ethanchewy commented on #3
Great eye! I'll fix it right away!

[2017-03-02 21:33] #3 closed

[2017-03-23 12:56] x011 opened #4 "Windows version and pythonbuddy.com"
The first example on pythonbuddy.com doesn't work.
I couldn't make it work on windows. I get the server running on port 5000, the page is displayed but no input box is available to insert code, here's the log:

 * Serving Flask app "app"
 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [23/Mar/2017 08:56:41] "GET / HTTP/1.1" 200 -
No config file found, using default config

[2017-03-23 13:59] ethanchewy commented on #4
It's because you are running this in Windows. I'm not too familiar with anaconda so you'd have to debug more deeply into the issue. It's related to Python.

Also, make sure you are running Python 2.7 in Windows.

Perhaps this will help: https://github.com/gevent/gevent/issues/669

[2017-03-26 23:40] #4 closed

[2017-09-28 00:01] ethanchewy opened #5 "Make compatible with edX and other LMS systems"
The last time I tried integrating this with edX, their platform was still in the early stages of beta. Would love to have someone create a branch with a way to integrate this as an XBlock.

Resources:
- [Open edX XBlock Tutorial](http://edx.readthedocs.io/projects/xblock-tutorial/en/latest/)

How to Contribute:
- Please open a pull request to my XBlock repo: [https://github.com/ethanchewy/pybuddy]

[2017-09-28 00:01] ethanchewy opened #6 "Make python sandbox much more secure"

[2017-10-03 05:15] #6 closed

[2017-10-03 05:22] ethanchewy opened #7 "Sandbox Python Code more securely"
Ideas for achieving this:
- Using Restricted Python. Check out my branch over here: [https://github.com/ethanchewy/PythonBuddy/tree/restrictedpython](https://github.com/ethanchewy/PythonBuddy/tree/restrictedpython) I basically finished it's implementation. I want to make it a little bit more flexible. The only bug over there is the line number that is being displayed.
- Process it using PyPy sandb

[2017-10-03 05:25] #5 closed

[2017-10-03 05:26] ethanchewy opened #8 "Integrate with Xblock Framework"
The last time I tried integrating this with edX, their platform was still in the early stages of beta. Would love to have someone create a branch with a way to integrate this as an XBlock.

Resources:
- [Open edX XBlock Tutorial](http://edx.readthedocs.io/projects/xblock-tutorial/en/latest/)

How to Contribute:
- Please open a pull request to my XBlock repo: [https://github.com/ethanchewy/pybuddy]

[2017-10-03 05:28] ethanchewy opened #9 "Add to and fix the Wiki"
Link: [https://github.com/ethanchewy/PythonBuddy/wiki](https://github.com/ethanchewy/PythonBuddy/wiki)

_Contributors who are approved for pull requests and make significant contributions will be attributed in the [Contributing.md](https://github.com/ethanchewy/PythonBuddy/blob/master/CONTRIBUTORS.md) file_

[2017-10-03 07:40] anaida07 commented on #9
I would like to take this up.

[2017-10-03 08:42] #9 closed

[2017-10-03 17:21] ethanchewy opened #11 "Optimize run time of linting Python Code"
Lines for Python Linting: https://github.com/ethanchewy/PythonBuddy/blob/master/app.py#L55-L57

To contribute:
- Fork this repo.
- Open a pull request and describe your changes. Please only submit fully functional pull requests.
- If you have any questions, leave it in this thread.
- **Please only do testing on your own local version of PythonBuddy!!**

Thanks!

_Contributors who are approved for

[2017-10-03 17:23] ethanchewy opened #12 "Fix Line Number Error on Restricted Python branch"
Here's the branch that needs to be fixed: [https://github.com/ethanchewy/PythonBuddy/tree/restrictedpython](https://github.com/ethanchewy/PythonBuddy/tree/restrictedpython)

Error is pretty simple. The code runs fine and is linted. The line numbers just have to be adjusted correctly. Right now, it displays negative line numbers

To contribute:
- Fork this [branch](https://github.com/ethanchewy/Pyt

[2017-10-03 18:07] MarkFilus commented on #12
I'll fix it.

[2017-10-03 18:18] MarkFilus commented on #12
ok this works #14

[2017-10-03 19:09] ethanchewy commented on #12
@MarkFilus That actually doesn't fix the error at all since it doesn't display the correct number associated with it.

You would have to run the PythonBuddy app locally and double check to see if the numbers are correct when and error is present.

[2017-10-03 19:11] ethanchewy commented on #12
@MarkFilus You didn't fix it. Try running it on your local machine and testing it with various errors first. I left some comments on your pull request.

Thanks for trying though.

[2017-10-05 01:48] ethanchewy opened #16 "Make Python Execution More Secure"
Ideas for achieving this:
- Using Restricted Python. Check out my branch over here: [https://github.com/ethanchewy/PythonBuddy/tree/restrictedpython](https://github.com/ethanchewy/PythonBuddy/tree/restrictedpython) I basically finished it's implementation. I want to make it a little bit more flexible. The only bug over there is the line number that is being displayed.
- Process it using PyPy sandb

[2017-10-05 01:48] #7 closed

[2017-10-05 05:54] daniellim2000 commented on #16
Hi I would like to work on this task.

[2017-10-06 01:30] ethanchewy commented on #16
@daniellim2000 go for it. Let me know if you have any questions. Open a pull request to the testing branch after.

[2017-10-13 00:50] StevenCopeland opened #19 "fix example #2 bug"
For example two, the example code is:

[code]

Could you change it to this:

[code]

[2017-12-19 05:50] Almenon opened #22 "PythonBuddy secretly mines bitcoin without your consent"
Regardless of how you feel about the ethics of that, you should still use the code coinhive provides for mining:

[code]
https://coinhive.com/documentation/miner

This is much more reasonable for visitor's CPU's and doesn't drain the battery life of mobile users.  Visitors would have a nicer experience (and electricity bill) without the fan noise that comes with 100% CPU usage.

[2017-12-19 17:30] ethanchewy commented on #22
I have taken that out already a month ago on github. Last month, I was testing it out for a few hours on some of my different projects to see how it works. I agree with all of your points that you have stated.

I didn't realize it was still on the demo server and I will take it out asap. Thank you for pointing this out.

[2017-12-19 17:30] #22 closed

[2018-09-16 20:15] PythonLinks opened #23 "This looks great"
Just exactly what I need.
Thank you so much for all of the hard work.

Forgive me if I make one comment.  There are really two parts to this.
One is the core server functionality.
And the other is the flask app which calls it.

For those of us who are not using Flask, it would be nice if they were in separate files.
Then I would not have to import all of flask to use it.

Otherwise, it looks like

[2018-09-16 23:11] ethanchewy commented on #23
Hey, thanks for the compliments.

I'm currently working on a version that leverages Docker containers where every user has its' own container. This would address the issue you are raising.

Might take a while since I'm quite busy but I'll keep you updated.

Thanks again!

[2018-09-17 05:54] PythonLinks opened #24 "A Demo is worth a thousand words"
I am going to try and implement this in my project, but it would be nice to be
able to see what it looks like.  I can understand that you do not want to run untrusted
code on your server, but if you could at least show what the editor and syntax checker look like,
that would be a huge help.

[2018-09-17 06:01] PythonLinks commented on #24
On rereading your website, there is the image, but that does not let me play with it.
I want to actually type in Python Bugs and see what happens.
Currently my understanding of the system is very abstract.
I can't reason about it. I have to try it first.

[2018-09-18 00:54] ethanchewy commented on #24
That's a good point. I'll probably create a video demo sooner or later.

Previously, I've hosted Python Buddy with some simple securities but it often gets hacked within a few months, thus why I'm just trying to dockerize each user session.

This might take a bit of time considering my current part-time job and school work.

[2018-09-20 18:51] Chessax opened #25 "HTTP 414 Request-URI Too Large"
If the code is longer than the server specified allowed request limit (seemingly 8KB) a HTTP 414 error is returned. This is because HTTP GET is used, and can easily be fixed by using HTTP POST.

E.g. replacing in javascript.js:
https://github.com/ethanchewy/PythonBuddy/blob/895ecbcbbe4e7053913af4b60365cf1c3c31f7b1/static/js/javascript.js#L88-L95

With this:
[code]

If this limit is intentional, th

[2018-09-21 04:33] #25 closed

[2018-09-21 08:58] Chessax commented on #25
While it's nice to see this "fixed" so quickly, you didn't actually solve anything. Adding `'json'` as an argument does nothing, since the function only accepts three arguments: `jQuery.getJSON( url [, data ] [, success ] )`. You have to change the jQuery function to `$.post` as well (which accepts an additional `dataType` argument: `jQuery.post( url [, data ] [, success ] [, dataType ] `)

Unfort

[2018-09-21 21:34] ethanchewy commented on #25
Thank you! Just fixed it over here: https://github.com/ethanchewy/PythonBuddy/commit/a11cb93f0f55246416d26b3a81a717a34e45e24e

[2018-10-18 22:57] ethanchewy opened #26 "Update demo gifs with newest version of PythonBuddy"
Problem:
- GIFs in current Readme(https://github.com/ethanchewy/PythonBuddy/blob/master/README.md) show the earliest version of PythonBuddy.

Goal:
- Produce GIFs of the most current version of PythonBuddy and update them in the Readme

How to do this?
- Follow Readme instructions on installing
- Check out what GIFs are currently displayed in README and take videos of exactly the same functions bu

[2018-10-19 02:11] gurjy0t commented on #26
Hi, I'd like to take this if no one else has yet

[2018-10-19 02:36] gurjy0t commented on #26
So while taking the video, I notice a situation in which I fix the error/warning of 'redefined-outer-name', 'undefined-variable', and the written warning goes away. However, the small x symbol next to the line does not. I'm not sure if this is a bug or issue thats known. I didn't see it in the list

[2018-10-19 02:57] gurjy0t commented on #19
Added a PR for this!

[2018-10-19 05:18] ethanchewy commented on #26
Yeah, so in the example:
[code]
it is supposed to have warnings.

I also thought it was weird too. I double checked and copy and pasted it in a seperate python file and manually pylint and still got the same warnings. I think this is an error with Pylint.

Thank you for noticing that.

Could you use another example for the gif like example #1 ?

[2018-10-19 05:28] ethanchewy commented on #19
This is intended to display the error on the side of the misspelling on line 3.

[2018-10-19 05:28] #19 closed

[2018-10-19 05:38] ethanchewy opened #28 "Add Python and Javascript unit tests"
Goal:
Write unit test for Javascript and Python files (https://github.com/ethanchewy/PythonBuddy/blob/master/app.py, https://github.com/ethanchewy/PythonBuddy/blob/master/static/js/javascript.js, and https://github.com/ethanchewy/PythonBuddy/blob/master/static/js/cm-validator-remote.js)

How to do this?

- Python: use unit test python library or Flask testing (http://flask.pocoo.org/docs/0.12/test

[2018-10-19 13:28] gurjy0t commented on #19
Oops, sorry about that

[2018-10-19 13:33] gurjy0t commented on #26
Hi, let me clarify. I was trying the example at the very top of read me. The one that defines x outside the scope of foo() and then attempts to modify it. During the process of duplicating that behaviour I saw this:

Define x outside scope -> see red x and errors listed below text box
Define scope inside x -> Error below text box resolve however red x still exists.

I can put up screenshots later

[2018-10-19 19:11] ethanchewy commented on #26
Weird, I don't get the same issue when I replicate. Can you please upload some screenshots? Thanks

[2018-10-19 21:07] DirtySoc commented on #26
![image](https://user-images.githubusercontent.com/33207400/47243835-500d5500-d3c1-11e8-91ec-fc8194c44e82.png)

I don't get any sidebar icons at all :( Tried in Firefox and Edge with latest PythonBuddy and Python 3.7.0.

[2018-10-19 21:39] ethanchewy commented on #26
@DirtySoc Could you also inspect element and load up the console (https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console) and copy any of the error messages and paste it over here?

[2018-10-19 21:50] DirtySoc commented on #26
@ethanchewy I setup according to the README. Here are screenshots of "Inspect Element" on the gutter and the console log on a page refresh.

## Inspect Element on Gutter:
![image](https://user-images.githubusercontent.com/33207400/47245408-1e978800-d3c7-11e8-92ab-b3202bd0aa1c.png)

## Console on Refresh
![image](https://user-images.githubusercontent.com/33207400/47245428-3a029300-d3c7-11e8-8fc1-53

[2018-10-19 23:18] ethanchewy commented on #26
@DirtySoc Did you create a new virtualenv and is it in Python 3?

If you follow the README, you should get this for `pip list`:
[code]

Also, PythonBuddy has only been tested on Unix systems (Mac, Linux) so that also might be an issues.

**Could you press on the error/warning in the console if any and copy and paste it here? So, play around with the editor by typing stuff and running code and see

[2018-10-20 06:29] DirtySoc commented on #26
@ethanchewy you are probably right judging by the way the error lines are reported in the app.

## Windows 10 1803 w/ Python3.7:
![image](https://user-images.githubusercontent.com/33207400/47252013-2547ee80-d40b-11e8-9fcc-6ebad2e17c44.png)

## Ubuntu 18.01 w/ Python3.6.6:
![image](https://user-images.githubusercontent.com/33207400/47252254-a99c7080-d40f-11e8-93f7-7f07dbbbf819.png)

[2018-10-20 06:36] DirtySoc commented on #26
Here is where the 'HTML1506: Unexpected token.' error goes:
![pythonbuddy-unexpectedtoken](https://user-images.githubusercontent.com/33207400/47252333-fb91c600-d410-11e8-8fa3-7368f05dbc6f.gif)

[2018-10-20 06:38] ethanchewy opened #29 "Fix PythonBuddy not working in Windows"
Line Numbers do not show up correctly when PythonBuddy is running on a Windows system.

Thank you @DirtySoc for raising this up and providing these screenshots:
Windows 10 1803 w/ Python3.7:
![47252013-2547ee80-d40b-11e8-9fcc-6ebad2e17c44](https://user-images.githubusercontent.com/8660827/47252306-68986200-d3f7-11e8-90f2-865800a87c6c.png)

Ubuntu 18.01 w/ Python3.6.6:
![47252254-a99c7080-d40f-11e8

[2018-10-20 06:40] ethanchewy commented on #26
@DirtySoc This is perfect. This gives me a lot to work off of.

Thank you so much for bringing this up! I'll work on fixing this issue (https://github.com/ethanchewy/PythonBuddy/issues/29) asap

[2018-10-20 09:09] vladimir-kirillovskiy commented on #29
I'll look at it)

[2018-10-20 11:16] vladimir-kirillovskiy commented on #29
I've made a PR, I hope that is how you do it here)
https://github.com/ethanchewy/PythonBuddy/pull/30

[2018-10-21 08:37] gjergjk71 commented on #28
I'd like to work on this. :)

[2018-10-21 19:01] ethanchewy commented on #28
@gjergjk71 thanks let me know if you have any questiosn! For Python, in addition to testing the GET/POST requests with Flask testing, you should test individual functions like `format_errors` in `app.py `using Python's unittest (https://www.blog.pythonlibrary.org/2016/07/07/python-3-testing-an-intro-to-unittest/)

[2018-10-21 21:45] ethanchewy commented on #28
@gjergjk71 can you copy and paste the error here?

[2018-10-22 13:01] gjergjk71 commented on #28
@ethanchewy
[code]

[2018-10-22 17:17] DirtySoc opened #31 "Tool-tip popups not dissapearing - MS EDGE"
![image](https://user-images.githubusercontent.com/33207400/47307249-9ac6e100-d5fc-11e8-958a-8c59011d8589.png)

The tooltips that appear after hovering over the gutter errors do not go away.

ONLY IN MS Edge

[2018-10-22 17:49] DirtySoc commented on #31
Issue not repeatable.

[2018-10-22 17:49] #31 closed

[2018-10-22 19:01] ethanchewy commented on #28
@gjergjk71 could you open a pull request or copy and paste the code here so that I can debug it out myself?

[2018-10-22 22:47] #29 closed

[2018-10-23 15:36] DirtySoc commented on #12
Can you provide screenshot of issue? I'm running it and don't see the negative line numbers.

![image](https://user-images.githubusercontent.com/33207400/47372464-d4105700-d6b7-11e8-963c-53a948e989c1.png)

[2018-10-23 18:14] ethanchewy commented on #12
@DirtySoc Yeah, so this is an old issue that is no longer relevant.

RestrictedPython is very inflexible and now basically unusable for my use case.

Here's a better approach to sandboxing Python: https://github.com/ethanchewy/PythonBuddySandboxed

[2018-10-23 18:14] #12 closed

[2018-10-23 18:15] #11 closed

[2018-10-23 18:16] ethanchewy commented on #23
@PythonLinks Here is the dockerized version which creates a docker container for each user session which protects the main server from being hacked with malicious user generated code: https://github.com/ethanchewy/PythonBuddySandboxed

[2018-10-23 18:16] #23 closed

[2018-10-23 18:16] #24 closed

[2018-10-23 18:16] ethanchewy commented on #16
https://github.com/ethanchewy/PythonBuddySandboxed

[2018-10-23 18:16] #16 closed

[2018-10-23 18:17] ethanchewy opened #33 "Speed up PythonBuddy error message generation"
Not sure how easy this is to do but it would be great to speed up the generation of pylint error and warning messages in tooltip.

[2018-10-25 00:29] ethanchewy commented on #26
@DirtySoc Any updates on creating gifs?

[2018-10-28 00:57] ethanchewy opened #34 "Get rid of Pylint Output Info when Error is Corrected"
![screenshot from 2018-10-27 17-56-57](https://user-images.githubusercontent.com/8660827/47610740-be7d9300-da11-11e8-975a-3dd8b93256f4.png)

[2018-10-28 01:02] ethanchewy commented on #34
**Only occurs when user deletes all code and the text box is empty**

[2018-10-28 01:36] ethanchewy commented on #26
https://github.com/ethanchewy/PythonBuddy/commit/5b374159eede85edbfabdfd95613eb66a4895310

[2018-10-28 01:36] #26 closed

[2018-10-29 01:37] ethanchewy opened #36 "Use Templating in index.html"
http://flask.pocoo.org/docs/1.0/tutorial/templates/

[2018-10-29 01:38] ethanchewy opened #37 "Use local packages instead of CDN sources in index.html"

[2018-10-29 02:29] ethanchewy opened #38 "Fix hanging error messages"
![screenshot from 2018-10-28 19-28-33](https://user-images.githubusercontent.com/8660827/47626329-c90a5c00-dae7-11e8-9f30-260993e7b3d6.png)

As a user, I want the error and warning messages to be removed when my bugs are corrected.

[2019-10-03 20:25] dgmouris commented on #36
Really cool project. Huge respect!

What do you mean by templating, do you want to separate out a base.html?

I'd love to help out as I think this project is really neat. Thanks for your time.

[2019-10-03 20:31] ethanchewy commented on #36
Awesome! Thanks for taking a look at this project.

I was thinking about using Jinja for templating: http://flask.palletsprojects.com/en/1.1.x/tutorial/templates/

Hasn't been necessary in the past since we only have really one HTML file to work with but I want to support in the future perhaps the possibility of users being able to sign in, log out, and view their previous code submissions which w

[2019-10-03 20:31] ethanchewy opened #42 "Add Login Functionality + History of Code Submissions"
As a user, I want to be able to log into PythonBuddy and be able to see my previous code submissions and be able to edit prior code submissions.

[2019-10-03 20:35] dgmouris commented on #36
Thanks for the really quick response, that's super nice and awesome.

Jinja2 would be a great idea, especially if you're planning project expansion. I'd love to help out doing this if you don't mind.

Let me know if that would be alright with you if I worked on this.

[2019-10-03 20:40] ethanchewy commented on #36
Yes, go ahead. Feel free to add any questions, comments, or suggestions in this thread throughout the process!

[2019-10-04 17:36] dgmouris commented on #36
Awsome @ethanchewy thanks for the help.

[2019-10-04 20:13] dgmouris commented on #36
Hey @ethanchewy I've added a lot of blocks just because I think this might be handier in the future.

Let me know if you'd like to explain/remove/add more blocks and I'd be really happy to.

I hope you have a great day!

[2019-10-04 20:18] dgmouris commented on #28
I feel like this would be interesting to work on. Although I feel like doing small piece at a time rather than a gigantic PR would be good.

Although it might need some framework like pytest, but unittest is always great if you just want that. I don't want to impede on work currently being done or architectural choices if it would step on peoples toes.

What do you think? @ethanchewy

[2019-10-04 20:45] PythonLinks opened #46 "Port to PyOdide"
PyOdide is cPython compiled to WebAssembly and running in the browser.

If PyLint is pure python, it is quite easy to run it on top of Pyodide,  in the browser.  If PyLint includes C code, it is not that hard to port it to Pyodide.  There is a well developed tool chain.

Then Python Buddy could run entirely in the browser.  No server would be required.  I would use it in the ForestWiki.com

I hope

[2019-10-04 20:50] dgmouris commented on #37
I moved these into the static folder although I had a couple of thoughts.

NPM might be a better option in the future, if you are considering it.

As well I wasn't sure if you wanted to move google fonts locally as well, I just left that as is.

Thanks for your time:)

[2019-10-04 22:13] ethanchewy commented on #28
I don't think @gjergjk71 is working on this anymore. Feel free to start on this PR and break it down into multiple steps by opening seperate, smaller PR's!

Thanks!

[2019-10-04 22:16] ethanchewy commented on #37
Yeah, I think NPM would be a good option if I use Node.js. Right now, we are mainly just using Flask for the backend and no frontend framework so NPM doesn't make sense at the moment.

[2019-10-04 22:28] ethanchewy commented on #46
That is super cool - I'll take a look into it!

My original goal for this project was to run this completely client side so this is super super exciting :)

[2019-10-04 22:29] ethanchewy opened #48 "Add History of Code Submissions"
As a user, I want to be able to view my previous code submissions.

[2019-10-05 07:15] PythonLinks commented on #46
At PyCode conference, in Gdansk, Monday October 14th, I am doing a tutorial on Pyodide. I will mention and demo Python Buddy.

[2019-10-05 07:16] PythonLinks commented on #46
Can you tell me more about your original goals,  What motivated you to build this.  What is your dream development environment?

[2019-10-05 18:04] ethanchewy commented on #46
Going into high school, I didn't have any programming courses for freshmen. Luckily enough, I found out about the MIT 6.00.1x programming course that was offered on edX and learned Python via that. I learned a ton and had the opportunity to also be a Community TA.

Inspired from that experience, I started doing research under Prof. Eni Mustafaraj of Wellesley College on how to improve programming

[2019-10-05 18:06] ethanchewy opened #49 "Track Most Commonly Typed Errors"
As a user, I want to track what Pylint errors and understand how to mitigate them.

Current blocker => login feature

[2019-10-06 16:44] PythonLinks commented on #46
I like the idea of MOOC's.
Here are the magic commands you need.
https://demo.forestwiki.com/training/pyodide-training-materials/MicroPipDemo
Take a look at the source code.
Take a look at the console.
PyOdide is big, so it takes a few seconds to load, so please be patient.

[2019-10-07 16:17] dgmouris commented on #48
I really like this idea, although perhaps this could be a separate application within the repository as you might want to have restricted sandbox for user submitted code and an application that handles all history/login/customization.

Let me know what you think this is a thought, don't want to overstep bounds. Awesome project!

[2019-10-07 18:21] ethanchewy commented on #48
Yup, we would probably build it in: https://github.com/ethanchewy/PythonBuddySandboxed

Feel free to work on it if you want to!

[2019-10-07 20:10] dgmouris commented on #28
Hey @ethanchewy I added pytest just as a runner to simplify the process.

I was wondering if you liked the format of these test: https://github.com/ethanchewy/PythonBuddy/pull/51

I'm open to feedback if you'd like them differently.

[2019-10-08 21:16] ethanchewy commented on #48
Actually, for this repo, assuming that we aren't handling any logins, we can still set up a way for the user to easily check his/her/their code submission history.

[2019-10-08 21:16] ethanchewy commented on #48
Edited issue description to reflect this

[2019-10-08 21:40] ethanchewy commented on #28
Added comments.

Also, food for thought, can we test the following methods as well?

- evaluate_pylint => can we check that a temp file was created?
- test socket io disconnect() function => can we check the temp file was deleted?

Thanks for all the help and good job!

[2019-10-08 21:41] ethanchewy commented on #28
Also, are you interested in writing the JS unit tests as well? If not, that's totally fine!

[2019-10-09 01:32] dgmouris commented on #28
Hey @ethanchewy thanks for the feedback! This is great, I'm glad you liked the tests.

I agree that we should tests those functions, the one thing that I might do is refactor a bit if you're okay with that:) I find it easier to test smaller functions and I think there's some places that I could break it out a bit more.

I think I might take a hack at that those functions soon, but I think I'm goin

[2019-10-09 04:30] ethanchewy commented on #28
Sounds good!

[2019-10-09 04:33] ethanchewy commented on #28
@dgmouris Can you check out the work that @chaps did over here: https://github.com/ethanchewy/PythonBuddy/pull/52, https://github.com/ethanchewy/PythonBuddy/pull/53

I'll try to combine both of your commits together.

[2019-10-09 18:38] dgmouris commented on #28
Yeah I can take a look at this.

I think we can take a look at this @chaps has the tests for all of the empty pages which is good.

Suggestion for merging, we could merge one (say @chaps PR) then rebase the other branch and merge the other one in (say @dgmouris) we could do this in any particular order. Let me know what you think, as that might be a messy task.

Would you like me to review and add

[2019-10-09 20:21] ethanchewy commented on #28
@dgmouris yeah, that would be great if you could review them!

[2019-10-10 17:26] ethanchewy commented on #46
@PythonLinks Thanks so much for sharing! I'll take a look at it soon and investigate into it more.

Been wrapped up with a lot of academic work so it might take me a few days before I can delve into this more deeply!

Thanks!

[2019-10-10 19:24] PythonLinks commented on #46
Since this is your volunteer work, there is no deadline.

I am personally very interested in doing this, but I do not think that there is any
business model here.

When you are ready to get started, you may want to first work through my PyOdide tutorial.
https://pythonlinks.info/pyodide-training-materials
If you have any difficulty, I am happy to answer any questions.   I am clozinski on skype.

[2019-10-10 19:32] ethanchewy commented on #46
Sounds good - thanks.

Yeah, I think it would be amazing if I could figure out how to have live Python linting work in PyOdide!

[2019-10-10 19:38] PythonLinks commented on #46
So I am happy to give you a verbal overview of how to make it happen.

Conceptually not that difficult.  But a bunch of new ideas.  Mostly about getting Javascipt to work with Python.

When you expressed your initial enthusiam, that was most exciting for me.  No one else seems to think that developing in the browser is a good idea.  Well that is not quite true.  The data scientists love it.  But t

[2019-10-11 04:52] dgmouris commented on #28
Hey @ethanchewy I tested those methods referenced in the above [comment](https://github.com/ethanchewy/PythonBuddy/issues/28#issuecomment-539716111)

- evaluate_pylint => can we check that a temp file was created?
- test socket io disconnect() function => can we check the temp file was deleted?

I removed the file delete into its' own function because i couldn't get the "flask_test_client" paramet

[2019-10-11 04:53] dgmouris commented on #28
I also check to see that the file contents are changed in the tempfile.

[2019-10-11 19:19] ethanchewy commented on #28
@dgmouris sounds good - thanks so much!

In general, for best practices, you should make your PR as small as possible. So, it's better to have multiple, smaller PR's instead of 1 giant PR. This makes it easier to read and also reference to in the future if we need to roll back the repo for some reason.

Thanks!

[2019-10-11 20:33] dgmouris commented on #28
@ethanchewy I agree, but there was another PR working on the exact same thing... ( #52, #53 ) otherwise I would have made them smaller PRs.

[2019-10-11 20:41] dgmouris commented on #28
I was thinking perhaps of taking a stab at the JS tests for this project, as it's kind of "greenfield" area in this repo. I was thinking of maybe using [jest](https://jestjs.io/)...

I don't want to overstep bounds by making framework decisions on a project, so would like to throw this by you if you have any preference for JS testing frameworks.

PS. sorry for the huge PR:)

[2019-10-11 21:07] ethanchewy commented on #28
@dgmouris that sounds good to me!

Sorry I have to finish a few deadlines for my school commitments but I should be able to review and merge your PR's within the next week!

[2019-10-11 21:26] dgmouris commented on #28
Hey no worries, take your time!

[2019-10-12 07:37] ethanchewy commented on #49
Along the same lines, I think it would be interesting to figure out how to intelligently help users with errors that they receive the most often.

For example, I could maybe create teaching modules revolving around different types/clusters of similar error messages.

Also some other questions that come to mind:

- How can we help beginning programmers still feel motivated if hypothetically they ru

[2019-10-17 06:07] PythonLinks commented on #46
Okay, So I got back from PyCon DE Sprints, and speaking at PyCode in Gdansk.  Both went great.
I gave PyLint on Pyodide a shot yesterday.  The upshot is that PyLint requires another library. And that library has no pure python wheels.  So that other library would have to be ported to Pyodide.  Beyond my bandwidth.

I am not quite sure that is the problem.  If anyone really is interested, I could p

[2019-10-17 16:25] PythonLinks commented on #46
I have now recreated that bug. The error message is:
Uncaught (in promise) Couldn't find a pure Python 3 wheel for 'lazy-object-proxy == 1.4.*'
I will keep this bug demo, in case anyone wants to build on my work.  Contact me if you want to see it.  In the next release of the Forest Wiki I will publish it on the internet. Maybe I will also post it to PyLint Github page.

[2019-10-17 17:14] PythonLinks commented on #46
I created an issue on the PyLint Github page.
https://github.com/PyCQA/pylint/issues/3199

[2019-10-17 17:24] PythonLinks commented on #46
And if anyone is interested...
I am now able to compile python source code in the browser.  If it fails, it gives an error message.  Not qutie as good as PyLint, but at least the syntax is correct.

[2019-10-18 10:43] PythonLinks commented on #46
I am now using Pyodide to compile a Python Text Area.  And display any syntax errors.
Not as good as Python Buddy, but all in the browser.
Cool.
In  the next ForestWiki release I will publish it on the web.
It works with Transcrypt, so that you can now write and run Python inthe browser.

[2019-10-25 00:29] ethanchewy opened #55 "Add models"
Note to self: add some sort of model to hedge and future prof against plyint updates

[2019-10-29 05:12] dgmouris commented on #46
Hey @PythonLinks and @ethanchewy I was interested in this and maybe this stuff is applicable...
https://www.stewdy.com/
Let me know if you're interested in this:) I'd love to help as this is uber cool.

[2019-10-29 05:31] PythonLinks commented on #46
That is a brilliant idea!

I was doing syntax checking, but I lacked the run button.
ForestWiki.com is an interesting web development environment.  But it lacked a hook.  Something to grab the Python community.  The run button makes it perfect for teaching Python.  With a few small tweeks,    each user can have their own Python environment.  Perfect for schools.  Perfect for teaching Python!

As y

[2019-10-29 07:37] PythonLinks commented on #46
The problem is that you also need a debugger.  Maybe using  IPython, or batavia.

[2019-10-29 18:24] dgmouris commented on #46
@PythonLinks As for a debugger this is really wierd and I want to override the behavour of using "prompt" as I go along, debugging does work even though it's really wierd.

Example below:
[code]

Then click "run"

Once you have that done you can write
```something()```
in the prompt and then press okay.

Another prompt displays, and you can write
```continue```
in the prompt and press okay.

Then

[2019-10-29 19:00] PythonLinks commented on #46
Thank you for that.  I tried it and reproduced it.
I opened an issue on PyOdide.
https://github.com/iodide-project/pyodide/issues/550
And got some response.  I do not fully understand the issues.  But if Python stops for input, then debugging should be possible.  Just request input from the shell, and not from the prompt box.

Here is a great article about Python in the browser.
https://pythontips

[2019-10-30 01:01] ethanchewy commented on #46
@dgmouris thanks so much for creating stewdy.com! Super helpful! I'm almost done adding the linting feature on top of what you created.

Will share soon...

[2019-10-30 07:15] PythonLinks commented on #46
As for PyPy on WASM, they say that the project is asleep.
Skulpt is used by Anvil, has a debugger,  and is alive and well.  Transcrypt can be debugged with source code maps. So my plan is to support PyOdide, Skulpt, Transcrypt and PythonScripts.

PyOdide has the libraries.  Skuplt has the debugger.

[2019-11-06 21:47] ethanchewy commented on #46
@PythonLinks Were you able to resolve the `Couldn't find a pure Python 3 wheel for 'lazy-object-proxy == 1.4.*'` issue for importing the Pylint library in pyodide?

[2019-11-07 09:48] PythonLinks commented on #46
I did not chase it that hard.  The next thing to do would be to report it on their github page.  I am currently using Pyodide compile method to do syntax checking.
https://demo.forestwiki.com/HtmlContentTypes/python.py/acedemo

[2019-11-07 16:57] ethanchewy commented on #46
Ah, I see. That makes sense. Thank you for the help! @PythonLinks

[2019-11-09 07:53] ethanchewy commented on #46
I'm still tinkering with my code but I think I'm getting closer to the solution: https://alpha.iodide.io/notebooks/3608/

Will keep you all updated.

I'm using flake8 instead of pylint due to the lazy-object-proxy issue.

My first attempt will be to simply leverage temp files and use the default flake8 main run function.

[2020-08-13 10:11] feiyujinghong opened #59 "请问如何阻止用户读取、删除文件呢"
如题，希望大神能给予解答

[2020-10-22 15:15] LeonardoFurtado opened #60 "KeyError: 'file_name' by clicking on the Run button"
**Describe the bug**
When I start the app, my first test was click on Run button and I've received KeyError: 'file_name'.
Before run the app, i've needed to update werkzeug to the last version cuz with the version in requirements.txt the app cannot be run

**To Reproduce**
Steps to reproduce the behavior:
1. start application with Flask run (werkzeug updated)
2. Click on Run button
3. open your te

[2020-10-22 17:17] ethanchewy commented on #60
Hmmm that's weird - I wasn't able to replicate this on my Linux OS. I'll try testing on Windows in the next few weeks.

Thanks for bringing this up!

[2020-10-22 17:23] ethanchewy commented on #60
lmk if this change helps at all: https://github.com/ethanchewy/PythonBuddy/commit/7889f39acb624e5a146ac7a6052c83106ccf61ef

I think this has to do with socket io not working well in windows.

[2020-10-22 17:30] ethanchewy commented on #60
Just double checking, you ran
`pip install -r requirements.txt`

in your virtualenv before running PythonBuddy, right?

[2020-10-22 21:20] LeonardoFurtado commented on #60
yep, in both OS I can't run PythonBuddy before update werkzeug, I'll reinstall and try to run whitout update werkzeug and I'll post the error output here.

[2020-10-23 16:32] ethanchewy commented on #60
@LeonardoFurtado thank you! I don't develop on Windows but I do have a Windows partition in my laptop so I'll test it out once I can as well.

[2020-10-23 20:10] LeonardoFurtado commented on #60
Oh, it works, PythonBuddy is throwing a pylint exception in the terminal, but I can still use the editor :). I can't post the exception message now because I don't remember what was written. As soon as I have some time, I'll post it here for you. TY

[2020-10-24 07:54] ethanchewy commented on #60
@LeonardoFurtado thank you so much for taking time to dig through this. Appreciate it!

[2020-10-28 01:18] marceloFA opened #61 "package typed-ast older versions doesn't work on python 3.8?"
Hi, Ethan ✌
I just set PythonBuddy in my WSL installation and during the installation of the required packages an error was raised. I was able to fix it so I'm posting the step here in case anyone is interested.

Steps to reproduce the behavior:
1. Ubuntu 20.04 on Windows Subsystem  for Linux
2. Python 3.8
3. Clone the repo, create a virtualenv for it
4. Try to install the required packages and ge

[2020-10-28 02:43] marceloFA commented on #61
This change actually broke two tests. Here's one of the two errors (both errors are the same):
[code]

And lastly, the actual output from ``pylint_stdrr.getvalue()`` was:
[code]

It seems that this is all related to package ``typed-ast``. At [their readme](https://github.com/python/typed_ast#python-38) they state that they're not planning on supporting py3.8 so the solution might be to use py3.7 o

[2020-10-28 05:40] ethanchewy commented on #61
Thank you for bringing this up and providing a thorough error report, plus linking a potential solution.

This was very helpful.

I am investigating this right now.

[2020-10-28 05:56] ethanchewy commented on #60
@LeonardoFurtado lmk if pulling the most recent changes work! Thanks!

[2020-10-28 05:56] ethanchewy commented on #61
@LeonardoFurtado lmk if pulling the most recent changes work! Thanks!

[2020-10-28 05:57] ethanchewy commented on #61
@marceloFA  lmk if pulling the most recent changes work! Thanks!

I also updated the docs to reflect the specific virtualenv version you need.

[2020-10-28 16:50] marceloFA commented on #61
Thank you for providing a solution to this so fast. Now I set up python 3.6.9 with asdf and all tests are passing.

[2020-10-28 19:36] ethanchewy commented on #61
Wonderful - thanks for testing it and verifying.

Really appreciate it!

[2020-10-28 19:36] #61 closed

[2020-10-29 01:25] ethanchewy commented on #60
Should be resolved.Please let me know if the above recent commits didn't fix it!

[2020-10-29 01:25] #60 closed

[2021-08-21 22:31] alexmojaki commented on #46
@ethanchewy wanted to share my educational Python project http://futurecoder.io/. It uses Pyodide (no servers!) and even has some linting with pyflakes. Adding more linting including pylint is a goal: https://github.com/alexmojaki/futurecoder/issues/101 . I know that I can handle installing the dependencies easily, haven't gone into actually running the linter yet but I'm not too worried.

I'm loo

[2021-12-11 03:27] Siddhant-K-code opened #64 "Deployment on Vercel"
**Is your feature request related to a problem? Please describe.**
For easy usage to users, we can deploy it on [vercel](https://vercel.com/) @vercel

**Describe the solution you'd like**
Using this: https://vercel.com/docs/runtimes#official-runtimes/python

**Describe alternatives you've considered**
Heroku Can be used, but it is difficult to configure. Also, its response time is slower in some r

[2021-12-25 23:31] ethanchewy commented on #59
https://github.com/ethanchewy/PythonBuddySandbox

[2021-12-25 23:31] #59 closed

[2021-12-25 23:34] ethanchewy commented on #64
I've deployed this before on DigitalOcean as well as Google Cloud platform. See: https://github.com/ethanchewy/PythonBuddy#secure-sandboxed-version-using-docker

^This might be helpful for Vercel deployment

[2022-10-29 16:48] benharvie opened #67 "Who to contact for security issues"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@evanottinger) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a s